.map-legend {
  margin: 10px;
  background: #fff;
  /*pointer-events: auto;*/

  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  font-size: 12px;
}

.map-legend__title {
  font-weight: 600;
}