.board {
  width: 100%;
  height: 100%;
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board__content {
  display: flex;
  justify-content: center;
}

.board__content .anchor {
  margin: 1em;
}
